@{
    ViewData["Title"] = "CRUD Items";
}
<h1 class="text-center mb-4">Gestión de Items</h1>

<a href="@Url.Action("Index", "Items")">Listado de Items |</a>
<a href="@Url.Action("Create", "Items")">Alta de Item </a>
@* <a href="@Url.Action("Delete", "Items")">Baja de Item |</a>
<a href="@Url.Action("Update", "Items")">Modificacion de Item |</a> *@